<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Reset Password</h3>
          <p class="card-text text-center">Please enter your email address to request a password reset.</p>
          <form>
            <div class="mb-3">
              <input
                type="email"
                class="form-control input-field"
                placeholder="Email Address"
                #passwordResetEmail
                required
              />
            </div>
            <div class="mb-3">
              <button
                type="submit"
                class="btn btn-primary btn-block btn-reset"
                (click)="authService.ForgotPassword(passwordResetEmail.value)"
              >
                Reset Password
              </button>
            </div>
          </form>
          <div class="text-center">
            <p>Go back to?</p>
            <a routerLink="/sign-in" class="btn btn-link btn-login">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
