<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Sign In</h3>
          <form [formGroup]="signInForm" (ngSubmit)="signIn()">
            <div class="mb-3 input-group">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              <input
                type="text"
                class="form-control input-field"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="mb-3 input-group">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
              <input
                type="password"
                class="form-control input-field"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div class="mb-3">
              <button
                type="submit"
                class="btn btn-primary btn-block btn-login"
              >
                Log in
              </button>
            </div>
          </form>
          <hr class="my-4" />
          <div class="text-center">
            <p>Forgot your password?</p>
            <a routerLink="/forgot-password" class="btn btn-link btn-forgot">Forgot Password?</a>
          </div>
          <hr class="my-4" />
          <div class="text-center">
            <p>Don't have an account?</p>
            <a routerLink="/register-user" class="btn btn-link btn-signup">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
